.header{
    height: 60px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff0000), to(#b30000));
    border-bottom: solid #b30000 1px;
    padding: 0 5px;
    color: #fff;
}

body{
    background: #000;
    font-size: 20px;
}

input{

}

input[disabled]
{
    background: none;
    border: none;
}

.icon{
    float: right;
}

.trash, .edit{
    visibility: hidden;
    margin: 0 3px;
}
.task{
    display: inline;
}

li:hover .trash, li:hover .edit{
    visibility: visible;
}

.main{
    height: 800px;
}

.aside{
    height: 150px;
    width: 500px;
    position: fixed;
    right: 30px;
}

.newTask{
    top: 70px;
}

.main, .aside{
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    padding: 5px;
    margin: 4px 2px;
    border-radius: 3px;
}

li:nth-of-type(even){
    background-color: rgba(28,28,28,.3);
}
